/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  components
------------------------------------------------------------------------------*/
@import "components/buttons";
@import "components/phone";
/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/header";    
   

* {
    box-sizing: border-box;
}
body {
    background-color: $light;
    min-height: 100vh;
    overflow-x: hidden;    
}
.app-wrapper {
    position: relative;
    overflow: hidden;
}
.app-wrapper:before {
    --start: -1020px;
    --end: 0px;
    position: absolute;
    content: '';
    width: 526px;
    height: 510px;
    // top: 0px;
    left: -338px;
    border-bottom-left-radius: 255px;
    border-bottom-right-radius: 255px;

    animation: slide-in-from-top 1s forwards;

    background: rgb(136,56,240);
    background: linear-gradient(0deg, rgba(136,56,240,1) 0%, rgba(233,66,255,1) 100%);   
    z-index: -1;
}
.app-wrapper:after {
    --start: -1020px;
    --end: 0px;
    position: absolute;
    content: '';
    
    width: 526px;
    height: 510px;
    // bottom: 0px;
    right: -338px;
    border-top-left-radius: 255px;
    border-top-right-radius: 255px;

    animation: slide-in-from-bottom 1s forwards;

    background-color: darken($light, 2%);
    z-index: -1;
}

main {
    width: 100%;
    overflow: hidden;
    padding: 64px 36px 0 36px;
    min-height: 100vh;
}
.phone-wrapper {
    width: 100%;
    margin-bottom: 55px;
    
}
.text-wrapper {
    padding-bottom: 60px;       
    h2 {
        padding: 10px 0;
        text-align: center;
        letter-spacing: -0.8px;
        margin-bottom: 18px;
        color: $text_very_dark;
        animation: fade-in 2s forwards;
    }    
    p {
        line-height: 1.8;
        text-align: center;
        color: $text_dark_grayish;
        animation: fade-in 2s forwards;
    }
}

::placeholder {
    color: $text_grayish;   
    font-size: 8px;
    letter-spacing: 0.4px;
}  
:-ms-input-placeholder { 
    color: $text_grayish;
    font-size: 8px;
    letter-spacing: 0.4px;
}  
::-ms-input-placeholder { 
    color: $text_grayish;
    font-size: 8px;
    letter-spacing: 0.4px;
}

/* ----------- ANIMATIONS ----------- */

@keyframes slide-in-from-top {    
    from {
        top: var(--start);
    }
    to {
        top: var(--end);
    }
}
@keyframes slide-in-from-bottom {    
    from {
        bottom: var(--start);
    }
    to {
        bottom: var(--end);
    }
}
@keyframes scale-in-and-out {
    0% {
        transform: scale(var(--start), var(--start));
    }
    50% {
        transform: scale(var(--end), var(--end));
    }
    100% {
        transform: scale(var(--start),var(--start));
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

/* ----------- MEDIA QUERIES ----------- */

@media screen and (min-width: 800px) {    
   .text-wrapper p {
       width: 500px;
       margin: 0 auto;       
   }
}
@media screen and (min-width: 1100px) {  
    .app-wrapper:before {
        --start: -1000px;
        --end: 0px;  
        animation: slide-in-from-top 1s forwards;  
        width: 510px;
        height: 700px;     
        // top: 0px;
        left: -90px; 
    }
    .app-wrapper:after {
        --start: -1000px;
        --end: 0px;
        width: 510px;
        height: 678px;     
        // bottom: 0px;
        right: -189px;
        
        animation: slide-in-from-bottom 1s forwards;
    }
    .phone-wrapper,
    .text-wrapper {
        flex: 1 1 0px;
    }  
    .phone-wrapper {
        width: auto;
        margin:unset;        
    }
    .text-wrapper {        
        padding-top: 60px;
        padding-left: 30px;
    }
    .phone {
        --start: 1;
        --end: 1.2;
        margin: 0 95px 0 auto;
        animation: scale-in-and-out 2s forwards;   
    }
    main {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   .text-wrapper p {
       width: 450px;
       text-align: left;
       margin: 0;
       animation: fade-in 3s forwards;
       
   }
   .text-wrapper h2 {
    text-align: left;
    animation: fade-in 3s forwards;
   }  
}
